<!DOCTYPE html>
<html lang="zh-CN"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>管理员主面板</title>
</head>
<body>

<section layout:fragment="content">
    <hgroup>
        <h2>管理员主面板</h2>
        <h3>欢迎您，<span sec:authentication="name">Admin</span>！在这里管理整个宿舍分配流程。</h3>

    </hgroup>
    <div class="grid">
        <article>
            <h4><a href="#cycles" class="contrast">管理匹配周期</a></h4>
            <p>创建、查看、配置问卷和启动新的分配周期。</p>
            <footer><a href="#cycles" role="button">前往管理</a></footer>
        </article>
        <article>
            <h4><a th:href="@{/view/admin/dorms/buildings}" class="contrast">管理宿舍资源</a></h4>
            <p>增删改查楼栋、房间和床位等物理资源。</p>
            <footer><a th:href="@{/view/admin/dorms/buildings}" role="button" class="secondary">前往管理</a></footer>
        </article>
        <article>
            <h4><a href="#support" class="contrast">支持与内容</a></h4>
            <p>处理调宿申请、发布心理健康文章等。</p>
            <footer><a href="#support" role="button" class="contrast">前往处理</a></footer>
        </article>
    </div>
</section>

</body>
</html>